.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    width: 100%;
}

.card {
    min-height: 320px;

    background-size: cover;
    background-position: center;

    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 16px;

    color: rgb(255, 255, 255);
}

.titleContainer {
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 5px;
    padding: 5px;
}

.card > button {
    max-width: 100px;
    max-height: 20px;
}